<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.simplecss.org/simple.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Accueil', root_path %>
        <%= link_to 'Articles', articles_path %>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p>Réalisé avec l'aide de mon super formateur</p>
    </footer>
  </body>
</html>
